{% load static wagtailcore_tags wagtailimages_tags %}

<div class="row media-object">
    <div class="col s12">
        {% if blog.main_image %}
            <div class="media-object-section">
                {% image blog.main_image fill-750x300 as img %}
                <a href="{% pageurl blog %}"><img class="image_tmb" src="{{ img.url }}"/></a>
            </div>
        {% endif %}
        <div class="media-object-section">
            <p class="data flow-text"><strong>Posted on {{ blog.date }}</strong></p>
            <a href="{% pageurl blog %}"><h2>{{ blog.title }}</h2></a>
            <p class="flow-text">{{ blog.intro }}</p>
            <hr>
        </div>
    </div>
</div>
